<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proiect_APB.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-HFLVEU6;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Proiect_APB.Properties.Settings.EmpireElectricConnectionString"
            connectionString="Data Source=DESKTOP-HFLVEU6;Initial Catalog=EmpireElectric;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>