<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Proiect_APB.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-HFLVEU6;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Proiect_APB.Properties.Settings.EmpireElectricConnectionString" connectionString="Data Source=DESKTOP-HFLVEU6;Initial Catalog=EmpireElectric;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EmpireElectricEntities" connectionString="metadata=res://*/EmpireMapping.csdl|res://*/EmpireMapping.ssdl|res://*/EmpireMapping.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HFLVEU6;initial catalog=EmpireElectric;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>